tesseract-ocr (0.0.1)
tesseract-python (3.5.1)
tesseract (0.1.3)
py-tesseract (0.3.0)
tesseract-positional (0.1.1)
ocr-tesseract-wrapper (0.0.8)
keios-protocol-tesseract (1.1.0)
pytesseract (0.3.3)
pytessert (0.0.1)
pytessy (0.1.0)
TextExtract (1.2.0)
tesserpy (1.1.2)
pysseract (1.3.1)
ReadBot (1.0)
tessy (0.5.1)
TesseractTrainer (0.1.1)
pytesstrain (0.1.14)
tightocr (0.4.4)
piltesseract (1.0.2)
tesserwrap (0.1.6)
findtext (0.1.0)
pyslibtesseract (0.0.15)
django-tesseractfield (0.0.2)
gpyocr (1.4)
pyocr (0.7.2)
pypdfocr (0.9.1)
autoocr (0.0.3)
ocrd-fork-tesserocr (3.0.0rc2)
tesserocr (2.5.1)
OCRUSREX (0.2.2)
easytextract (1.1.5)
OCyara (1.0.1)
